.logo{
    display: flex;
    align-items: center;
    
}
.img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.titles{
    
    list-style: none;
    float:left
    
}

.li{
    display: block;
    float:left;
    margin: 10px 40px 10px 40px;
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    
}

.h3 {
    transition: 2s;
    font-weight: 700;
    opacity:0.5;
    cursor: pointer;
    color: #000000;
    text-decoration:none;
}

.h3:hover{
    color:#1c375a ;
    opacity: 1;
    transition:0.5s;
}


