.maindiv{
    margin: 0px 175px;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}

.img{
    padding: 0 10px;
    border: aliceblue 1px solid;
    padding: 5px;
    border-radius: 20px;
    height:60px;
    width:60px ;
    color: transparent;
    background-color:rgb(233, 233, 233);
}

.img:hover{
    color: aliceblue;
    background-color: transparent;
    transition: 0.6s;
}

.sociallogos a{   
    padding: 0 10px;
}
.sociallogos img:hover{
    filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(208deg) brightness(105%) contrast(100%);
    border: none;
}
.h5{
    margin: 0px 0px 15px 0px;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    color: aliceblue;
}

.text_div{
    margin:100px 0px 25px 0px;
    display: flex;
    justify-content: center;
    text-decoration: underline aliceblue;
    text-underline-offset: 5px;
}

.last{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(161, 160, 160, 0.5); 
    padding-top: 15px ;
}

@media (max-width:1600px) {
    .img{
        height: 55px;
        width: 55px;
    }
    .maindiv{
        margin: 0px 50px;
        padding-top:10px;
    }
    .last h5{
        font-size: 12px;
    }
    .last{
       margin-top: 15px;
    }
    
}