.maindiv{
     
    margin: 0px 250px;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}

.img{
    border-radius: 20px;
    height:80px;
    width:80px ;
    background-color: aliceblue;
}

.logos{
    padding-top:40px;
    padding-bottom: 80px;
    display:flex;
    justify-content:space-between;
    width: auto;
    
}
.h5{
    margin: 0px 0px 15px 0px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    color: aliceblue;
}

.text_div{
    margin:100px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.last{

    
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(161, 160, 160, 0.5); 
    padding:5px 0px ;
}

@media (max-width:1600px) {
    .img{
        height: 65px;
        width: 65px;
    }
    
}