*{
  box-sizing: border-box;
}

html{
  background-color: #e0e0e0;
}

body{
  margin: 0;
  padding: 0;
}
a{
  padding: 0;
  margin: 0;
}
h5{
  padding: 0;
  margin: 0;
}


/*bab6b6
bebebe
e0e0e0
#da80ee;*/